@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css");

body {
    text-align: center;
    background: rgb(183, 181, 181);
    align-items: center;
}
h2 {
    color: rgb(200, 164, 1);
}
body {
    text-align: center;
    background-color: rgb(0, 0, 0);
    align-items: center;
}

#btn {
    padding: 1px;
    height: 30px;
    width: 70px;
    border: 0px;
    color: aliceblue;
    font-size: medium;
    background-color: rgb(200, 164, 1);
}

#btn:hover {
    background: white;
    color: rgb(200, 164, 1);;
}

h5 {
    color: rgb(255, 255, 255);
    padding-right: 0pc;
}


p {
    color: rgb(200, 164, 1);
    padding-right: 0pc;
}

